**/*.sh
*.tmpl
**/*.pl
**/*.pm
*.gz
*.log
*.tmp
.\#*
\#*
*.diffs
*.lst
extra-files
provides
resources
*.tdy
**/*.crit
**/*.pod
*-review-2*.code
*-review-2*.pod
*-review-2*.annotate
bin/cli-simple

bin/create-modulino
**/*.checked
**/*.raw
**/*.tdy
buildspec.yml.current
buildspec.yml.tmpl
module.pm.tmpl
test.t.tmpl
